.hero-unit
  #slides
    = image_tag 'photo01.jpg', :width=>780, :height=>300
    = image_tag 'photo02.jpg', :width=>780, :height=>300
    = image_tag 'photo03.jpg', :width=>780, :height=>300
    = image_tag 'photo04.jpg', :width=>780, :height=>300

