@charset "UTF-8";

/* ---------------------
 * LAYOUT CSS INDEX * 
 * ---------------------
 *  2011.11.19
 *  LAST UPDATE
 * tomoya hayashida
 * --------------------- */

/* ========HEADER======== */

div#head{
		height:50px;
		background:#EEE;
}

#head h1{
		width:364px;
		height:10px;
		float:left;
}

/* ========COMMON======== */


#bread{
		font-size:80%;
}
#bread li{
		float:left;
}

/* =========MAIN=========== */

body{
		background:#FFF;
}
div#container{
		width:900px;
		background:#EEE;
		margin: auto;
}

div#content{
		background:#EEE;
		width:870px;
		margin:15px;
		font-size:75%;
}

div.box{
		float:left;	
		width:260px;
		margin-left:10px;
		margin-top:10px;
		padding:10px;
}



/* ========FOOTER======== */



div#footer{
		width:900px;
		height:40px;
		background:#EEE;}
div#footer p{
		float:right;
		font-size:70%;
		color:#000;
		margin-top:5px;
}



/* ========Clear Setting======== */
div.clear {
	clear: both;
	font-size: 0;
}

/* ========Clear Fix======== */

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */
