@charset "UTF-8";
/* ---------------------
 * RESET CSS INDEX * 
 * ---------------------
 *  2011.11.14
 *  LAST UPDATE
 * --------------------- */
 

/* ========BASIC======== */

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, table, th, td {
	margin: 0;
	padding: 0;
}
html {
	background: #FFF;
	color: #000;
}
body {
	font:16px "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W3", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: normal;
}
ul,ol,dl {
  list-style:none;
}
img,a img{
  vertical-align:bottom;
  border:none;
  background:transparent;
}
object,embed{
  vertical-align:top;
} 
address, caption, cite, code, dfn, em, strong, th, var {
	font-style: normal;
	font-weight: normal;
}
input, textarea, select {
	font-family: inherit;
	font-size: inherit;
	font-weight:inherit;
}
table{
  border-collapse:collapse;
  border:none;
  border-spacing:0;
}
th,td{
  vertical-align:top;
  font-weight:normal;
  text-align:left;
}
caption{
  text-align:left;
}
input, select, textarea {
	font-size: 100%;
	font-family: Verdana, Helvetica, sans-serif;
}
* html input, * html textarea, * html select {
	font-size: 100%;
}
*:first-child+html+input, *:first-child html+textarea, *:first-child+html select {
	font-size: 100%;
}
